<div class="row">
    <div class="col4">
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.urlSocial) }}
    {{ form_row(form.logo) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}
</div>
</div>
