{% extends 'default/base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
    {{ include('default/header.html.twig') }}
{% endblock %}

{% block menu %}
    {{ include('default/menu.html.twig') }}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title">Gestion de la Galerie</h2>
            <p class="lead blog-description"></p>
        </div>

        <div class="row">
            <div class="col s12 m3 l6 right">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                    <div id="card-alert" class="card green">
                        <div class="card-content white-text">
                          <p>{{ message }}</p>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12">
                <a type="button" href="{{ path('galerieCreate') }}" class="btn btn-primary pull-right">Ajouter une image</a>
            </div>
            <div class="col s12 m6 l8">
                <table class="table table-striped responsive-table">
                    <thead>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Miniature</th>
                        <th>Description</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </thead>
                    {% for image in images %}
                        <tr id="{{ image.id }}" class="draggable">
                            <td><a href="{{ path('blog_view', {'id': image.id}) }}">{{ image.id }}</a></td>
                            <td>{{ image.title }}</td>
                            <td width="150px"><img src="{{ image.image }}?image={{ random(1000) }}" alt="Chargement impossible" class="responsive-img"></td>
                            <td>{{ image.description[:25]~'...' }}</td>
                            <td>{% if image.star =='' %} Pas encore de note{% else %}{{ image.star }}/5{% endif %}</td>
                             <td><a class="btn btn-danger delete-image" id="{{ image.id }}">Supprimer</a>
                                <a class="btn btn-danger" href="{{ path('admin_modify_entry', {'id': image.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucune images dans la base</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="navigation">
                    {{ knp_pagination_render(pagination, null, {}, {
                        'position': 'centered',
                        'size': 'large',
                        'rounded': true,
                     }) }}
                </div>
        </div>
    </div>
{% endblock %}