{% extends "default/base.html.twig" %}

{% block title %}App:blog:entries{% endblock %}

{% block header %}
    {{ include('default/header.html.twig') }}
{% endblock %}

{% block menu %}
    {{ include('default/menu.html.twig') }}
{% endblock %}

{% block body %}
<div class="container">

    {% for blogPost in blogPosts %}
         <div class="row">
                <div class="col s12 m7 l12">
                    <div class="tags">
                        {% for tags in blogPost.blogTags %}
                        <div class="chip">
                            {{ tags.name }}
                          </div>
                        {%  endfor %}
                      </div>
                  <div class="card hoverable">
                    <div class="card-image">

                      <img src="https://picsum.photos/900/300/?image={{ random(1000) }}" alt="L'image n'a pas pu se charger">
                      {% if app.user.username == blogPost.author %}
                      <a class="btn-floating halfway-fab waves-effect waves-light orange pulse" href="{{ path('admin_modify_entry', {'id': blogPost.id}) }}"><i class="material-icons">mode_edit</i></a>
                      {% endif %}
                      
                      <span class="card-title bold">{{ blogPost.title }}</span>
                     
                    </div>
                    <div class="card-content">
                            <p>Poste le
                                    {{ blogPost.createdAt|date("m/d/Y H:i:s", "Europe/Paris") }}
                                </p>
                                <hr>
                      <p>{{ blogPost.description }}</p>
                      <blockquote><div class="badge">{{ blogPost.blogComments|length }} commentaires</div></blockquote> 
                    </div>
                    <div class="card-action">
                      <a href="{{ path('blog_view', {'id': blogPost.id}) }}">Lire plus...</a>
                      
                    </div>
                  </div>
                </div>
              </div>
    {% endfor %}
  <div class="row">
  {{ knp_pagination_render(pagination) }}
  </div>
</div>
{% endblock %}